
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
  --clr-bg-body:hsl(179, 62%, 43%);
  --clr-bg-white:hsl(0, 0%, 100%);
  --clr-text-gray: hsl(204, 43%, 93%);
  --clr-primary-hsl-500:71, 73%, 54%;
  --fw-regular:400;
  --fw-bold:700;
  --ff-base:font-family: 'Karla', sans-serif;
  --fs-body:16px;

}

